<a href="https://colab.research.google.com/github/meenakshii09/learning-github/blob/main/pandas_ecom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
ecom=pd.read_csv('E-Commerce.csv')

In [ ]:
# 1. Display the first five records
ecom.head()

   Order_ID Product_Name     Category  Price  Quantity Customer_ID  Order_Date
0         1       Laptop  Electronics   1200         2        C101  01-01-2024
1         2   Headphones  Electronics     80         3        C102  01-01-2024
2         3        Chair    Furniture    150         1        C103  01-01-2024
3         4   Smartphone  Electronics    600         1        C104  04-01-2024
4         5         Desk    Furniture    200         2        C105  05-01-2024

In [ ]:
# 2. Show the basic information about the dataset, including data types and non-null values.
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order_ID      30 non-null     int64
 1   Product_Name  30 non-null     object
 2   Category      30 non-null     object
 3   Price         30 non-null     int64
 4   Quantity      30 non-null     int64
 5   Customer_ID   30 non-null     object
 6   Order_Date    30 non-null     object
dtypes: int64(3), object(4)
memory usage: 1.8+ KB

In [ ]:
# 3. List all the column names in the dataset.
ecom.columns

Index(['Order_ID', 'Product_Name', 'Category', 'Price', 'Quantity',
       'Customer_ID', 'Order_Date'],
      dtype='object')

In [ ]:
# 4. Check if there are any missing values in the dataset.
ecom.isnull().sum()

Order_ID        0
Product_Name    0
Category        0
Price           0
Quantity        0
Customer_ID     0
Order_Date      0
dtype: int64

In [ ]:
# 5. Display unique values in the 'Category' column.
ecom['Category'].unique()

array(['Electronics', 'Furniture', 'Apparel', 'Books', 'Accessories',
       'Beauty'], dtype=object)

In [ ]:
ecom['Category'].nunique()

6

In [ ]:
# 6. Find the total number of products sold.
ecom['Quantity'].sum()

61

In [ ]:
# 7. Calculate the average price of products in each category.
ecom.groupby('Category')['Price'].mean()

Category
Accessories     82.500000
Apparel         37.500000
Beauty          27.500000
Books           17.500000
Electronics    420.000000
Furniture      196.666667
Name: Price, dtype: float64

In [ ]:
# 8. Display the details of the most expensive product.
ecom[ecom['Price']==ecom['Price'].max()]

   Order_ID Product_Name     Category  Price  Quantity Customer_ID  Order_Date
0         1       Laptop  Electronics   1200         2        C101  01-01-2024

In [ ]:
# 8. Display the details of the most expensive product.
ecom.loc[ecom['Price'].idxmax()]

Order_ID                  1
Product_Name         Laptop
Category        Electronics
Price                  1200
Quantity                  2
Customer_ID            C101
Order_Date       01-01-2024
Name: 0, dtype: object

In [ ]:
# 9. Find the customer who made the highest total purchase.
ecom['TotalQuantity']=ecom['Price']*ecom['Quantity']
# A new column 'TotalQuantity' is added in the dataset

In [ ]:
# 9. Find the customer who made the highest total purchase.
ecom.groupby('Customer_ID')['TotalQuantity'].sum().sort_values(ascending=False).head(1)

Customer_ID
C101    2710
Name: TotalQuantity, dtype: int64

In [ ]:
# # 10.Calculate the total revenue generated by the e-commerce store.
ecom['TotalQuantity'].sum()

8615

In [ ]:
# 11.Show the products ordered on a specific date, e.g., '2024-01-05'.
ecom[ecom['Order_Date']=='05-01-2024']

,Order_ID,Product_Name,Category,Price,Quantity,Customer_ID,Order_Date,TotalQuantity
4,5,Desk,Furniture,200,2,C105,05-01-2024,400

In [ ]:
# 12.Create a new column 'Total_Cost' (Price * Quantity) and display the dataset.
ecom['Total_Cost']=ecom['Price']*ecom['Quantity']
ecom

,Order_ID,Product_Name,Category,Price,Quantity,Customer_ID,Order_Date,TotalQuantity,Total_Cost
0,1,Laptop,Electronics,1200,2,C101,01-01-2024,2400,2400
1,2,Headphones,Electronics,80,3,C102,01-01-2024,240,240
2,3,Chair,Furniture,150,1,C103,01-01-2024,150,150
3,4,Smartphone,Electronics,600,1,C104,04-01-2024,600,600
4,5,Desk,Furniture,200,2,C105,05-01-2024,400,400
5,6,Shirt,Apparel,30,5,C106,06-01-2024,150,150
6,7,Tablet,Electronics,300,1,C107,07-01-2024,300,300
7,8,Shoes,Apparel,50,2,C108,08-01-2024,100,100
8,9,Book,Books,15,3,C109,09-01-2024,45,45
9,10,Desk,Furniture,180,1,C110,10-01-2024,180,180
10,11,Watch,Accessories,100,1,C111,11-01-2024,100,100
11,12,Backpack,Accessories,50,2,C112,12-01-2024,100,100
12,13,Camera,Electronics,800,1,C113,13-01-2024,800,800
13,14,Jeans,Apparel,40,3,C114,14-01-2024,120,120
14,15,Printer,Electronics,150,1,C115,15-01-2024,150,150
15,16,Perfume,Beauty,25,4,C101,16-01-2024,100,100
16,17,Speaker,Electronics,120,2,C108,17-01-2024,240,240
17,18,Sunglasses,Accessories,60,2,C118,18-01-2024,120,120
18,19,Table,Furniture,250,1,C119,19-01-2024,250,250
19,20,Headphones,Electronics,70,3,C101,20-01-2024,210,210
20,21,Shirt,Apparel,25,4,C110,21-01-2024,100,100
21,22,Book,Books,20,2,C105,22-01-2024,40,40
22,23,Chair,Furniture,180,1,C110,23-01-2024,180,180
23,24,Shoes,Apparel,45,2,C112,24-01-2024,90,90
24,25,Desk,Furniture,220,1,C102,25-01-2024,220,220
25,26,Watch,Accessories,120,1,C108,26-01-2024,120,120
26,27,Camera,Electronics,750,1,C113,27-01-2024,750,750
27,28,Jeans,Apparel,35,4,C113,28-01-2024,140,140
28,29,Printer,Electronics,130,1,C105,29-01-2024,130,130
29,30,Perfume,Beauty,30,3,C102,30-01-2024,90,90

In [ ]:
# 13.Find the top 3 customers who spent the most.
ecom.groupby('Customer_ID')['Total_Cost'].sum().sort_values(ascending=False).head(3)

Customer_ID
C101    2710
C113    1690
C104     600
Name: Total_Cost, dtype: int64

In [ ]:
# 14.Count the number of orders for each category.
ecom.groupby('Category')['Order_ID'].count()

Category
Accessories     4
Apparel         6
Beauty          2
Books           2
Electronics    10
Furniture       6
Name: Order_ID, dtype: int64

In [ ]:
# 15.Display the products with a quantity greater than 3.
ecom[ecom['Quantity']>3]

,Order_ID,Product_Name,Category,Price,Quantity,Customer_ID,Order_Date,TotalQuantity,Total_Cost
5,6,Shirt,Apparel,30,5,C106,06-01-2024,150,150
15,16,Perfume,Beauty,25,4,C101,16-01-2024,100,100
20,21,Shirt,Apparel,25,4,C110,21-01-2024,100,100
27,28,Jeans,Apparel,35,4,C113,28-01-2024,140,140

In [ ]:
# 16.Calculate the average quantity of products sold per order.
ecom.groupby('Order_ID')['Quantity'].mean()

Order_ID
1     2.0
2     3.0
3     1.0
4     1.0
5     2.0
6     5.0
7     1.0
8     2.0
9     3.0
10    1.0
11    1.0
12    2.0
13    1.0
14    3.0
15    1.0
16    4.0
17    2.0
18    2.0
19    1.0
20    3.0
21    4.0
22    2.0
23    1.0
24    2.0
25    1.0
26    1.0
27    1.0
28    4.0
29    1.0
30    3.0
Name: Quantity, dtype: float64

In [ ]:
# 17.Show the products with a price less than $50.
ecom[ecom['Price']<50]

,Order_ID,Product_Name,Category,Price,Quantity,Customer_ID,Order_Date,TotalQuantity,Total_Cost
5,6,Shirt,Apparel,30,5,C106,06-01-2024,150,150
8,9,Book,Books,15,3,C109,09-01-2024,45,45
13,14,Jeans,Apparel,40,3,C114,14-01-2024,120,120
15,16,Perfume,Beauty,25,4,C101,16-01-2024,100,100
20,21,Shirt,Apparel,25,4,C110,21-01-2024,100,100
21,22,Book,Books,20,2,C105,22-01-2024,40,40
23,24,Shoes,Apparel,45,2,C112,24-01-2024,90,90
27,28,Jeans,Apparel,35,4,C113,28-01-2024,140,140
29,30,Perfume,Beauty,30,3,C102,30-01-2024,90,90

In [ ]:
# 18.Find the most popular product (highest total quantity sold).
ecom.groupby('Order_ID')['TotalQuantity'].sum().sort_values(ascending=False).head(1)

Order_ID
1    2400
Name: TotalQuantity, dtype: int64

In [ ]:
# 19.Display the orders made by a specific customer, e.g., 'C105'.
ecom[ecom['Customer_ID']=='C105']

,Order_ID,Product_Name,Category,Price,Quantity,Customer_ID,Order_Date,TotalQuantity,Total_Cost
4,5,Desk,Furniture,200,2,C105,05-01-2024,400,400
21,22,Book,Books,20,2,C105,22-01-2024,40,40
28,29,Printer,Electronics,130,1,C105,29-01-2024,130,130

In [ ]:
# 20.Calculate the total cost of products in each category.
ecom.groupby('Category')['Total_Cost'].sum()

Category
Accessories     440
Apparel         700
Beauty          190
Books            85
Electronics    5820
Furniture      1380
Name: Total_Cost, dtype: int64

In [ ]:
# 21.Display the products that were ordered more than once.
order=ecom['Product_Name'].value_counts()
order[order>1]

Product_Name
Desk          3
Watch         2
Printer       2
Chair         2
Shirt         2
Shoes         2
Book          2
Headphones    2
Perfume       2
Camera        2
Jeans         2
Name: count, dtype: int64

In [ ]:
# 22.Create a new Data Frame that contains only Electronics products.
df=pd.DataFrame(ecom)
df[df['Category']=='Electronics']

,Order_ID,Product_Name,Category,Price,Quantity,Customer_ID,Order_Date,TotalQuantity,Total_Cost
0,1,Laptop,Electronics,1200,2,C101,01-01-2024,2400,2400
1,2,Headphones,Electronics,80,3,C102,01-01-2024,240,240
3,4,Smartphone,Electronics,600,1,C104,04-01-2024,600,600
6,7,Tablet,Electronics,300,1,C107,07-01-2024,300,300
12,13,Camera,Electronics,800,1,C113,13-01-2024,800,800
14,15,Printer,Electronics,150,1,C115,15-01-2024,150,150
16,17,Speaker,Electronics,120,2,C108,17-01-2024,240,240
19,20,Headphones,Electronics,70,3,C101,20-01-2024,210,210
26,27,Camera,Electronics,750,1,C113,27-01-2024,750,750
28,29,Printer,Electronics,130,1,C105,29-01-2024,130,130

In [ ]:
# 23.Find the date with the highest number of orders.
ecom['Order_Date'].value_counts().sort_values(ascending=False).head(1)

Order_Date
01-01-2024    3
Name: count, dtype: int64

In [ ]:
# 24.Display the details of the orders where the price is an even number.
ecom[ecom['Price']%2==0]

,Order_ID,Product_Name,Category,Price,Quantity,Customer_ID,Order_Date,TotalQuantity,Total_Cost
0,1,Laptop,Electronics,1200,2,C101,01-01-2024,2400,2400
1,2,Headphones,Electronics,80,3,C102,01-01-2024,240,240
2,3,Chair,Furniture,150,1,C103,01-01-2024,150,150
3,4,Smartphone,Electronics,600,1,C104,04-01-2024,600,600
4,5,Desk,Furniture,200,2,C105,05-01-2024,400,400
5,6,Shirt,Apparel,30,5,C106,06-01-2024,150,150
6,7,Tablet,Electronics,300,1,C107,07-01-2024,300,300
7,8,Shoes,Apparel,50,2,C108,08-01-2024,100,100
9,10,Desk,Furniture,180,1,C110,10-01-2024,180,180
10,11,Watch,Accessories,100,1,C111,11-01-2024,100,100
11,12,Backpack,Accessories,50,2,C112,12-01-2024,100,100
12,13,Camera,Electronics,800,1,C113,13-01-2024,800,800
13,14,Jeans,Apparel,40,3,C114,14-01-2024,120,120
14,15,Printer,Electronics,150,1,C115,15-01-2024,150,150
16,17,Speaker,Electronics,120,2,C108,17-01-2024,240,240
17,18,Sunglasses,Accessories,60,2,C118,18-01-2024,120,120
18,19,Table,Furniture,250,1,C119,19-01-2024,250,250
19,20,Headphones,Electronics,70,3,C101,20-01-2024,210,210
21,22,Book,Books,20,2,C105,22-01-2024,40,40
22,23,Chair,Furniture,180,1,C110,23-01-2024,180,180
24,25,Desk,Furniture,220,1,C102,25-01-2024,220,220
25,26,Watch,Accessories,120,1,C108,26-01-2024,120,120
26,27,Camera,Electronics,750,1,C113,27-01-2024,750,750
28,29,Printer,Electronics,130,1,C105,29-01-2024,130,130
29,30,Perfume,Beauty,30,3,C102,30-01-2024,90,90

In [ ]:
# 25.Calculate the percentage of revenue contributed by each category.
ecom.groupby('Category')['Total_Cost'].sum()/ecom['Total_Cost'].sum()*100

Category
Accessories     5.107371
Apparel         8.125363
Beauty          2.205456
Books           0.986651
Electronics    67.556587
Furniture      16.018572
Name: Total_Cost, dtype: float64